<!-- left fixed icons -->
<div
  class="md:flex hidden gap-8 items-center flex-col fixed left-8 bottom-12 text-2xl h-60"
>
  <i
    class="fa-brands fa-github hover:-translate-y-1 cursor-pointer transition-all duration-300"
  ></i>
  <i
    class="fa-brands fa-instagram hover:-translate-y-1 cursor-pointer transition-all duration-300"
  ></i>
  <i
    class="fa-brands fa-twitter hover:-translate-y-1 cursor-pointer transition-all duration-300"
  ></i>
  <i
    class="fa-brands fa-linkedin-in hover:-translate-y-1 cursor-pointer transition-all duration-300"
  ></i>
  <i
    class="fa-brands fa-bluesky hover:-translate-y-1 cursor-pointer transition-all duration-300"
  ></i>
</div>
<!-- right fixed email -->
<a
  class="hidden md:block fixed -right-16 bottom-40 font-mono rotate-90 transition-all duration-300"
  >habeebrahmanca07&commat;gmail.com</a
>
<!-- banner section -->
<main class="2xl:mx-80 xl:mx-60 lg:mx-40 md:mx-20 sm:mx-10 mx-4 md:mt-60 mt-40">
  <div class="flex items-center gap-8 h-80">
    <div class="px-8">
      <div class="2xl:text-7xl xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-semibold flex flex-col">
        <h1>Habeebu Rahman.</h1>
        <span>a Software Developer.</span>
      </div>
      <p class="my-4">
        I specialize in blending cutting-edge technology with intuitive design
        to create platforms that not only meet user needs but also exceed
        expectations in performance, functionality, and scalability.
      </p>
      <button
        class="font-semibold py-4 w-44 rounded-lg flex items-center justify-center hover:border-b-4 hover:border-r-4 transition-all duration-300 gap-2 bg-transparent"
      >
        Let's Talk!
      </button>
    </div>
  </div>
  <!-- about section -->
  <div class="md:mt-44 mt-24 px-8">
    <h1 class="font-semibold md:text-4xl sm:text-3xl text-2xl">About Me</h1>
    <div class="flex mt-8 gap-8 items-center">
      <div class="flex flex-col gap-4 md:w-2/3 w-full text-justify">
        <p>
          Hello! My name is Habeeb Rahman, and I’m a passionate Software
          Developer currently working at
          <a
            target="_blank"
            href="https://www.seeroo.com/"
            class="cursor-pointer transition-all duration-300"
            >Seeroo IT Solutions</a
          >. My journey into software development began in 2024 when I
          discovered my love for Software developement.
        </p>
        <p>
          Over time, I’ve worked on lots of projects. My main focus is crafting
          modern, user-friendly, and scalable web applications while keeping
          performance and accessibility in mind.
        </p>
        <p>
          Beyond coding, I’m also passionate about fitness, sports and personal
          development, always striving to push my limits.
        </p>
      </div>
      <div class="md:w-1/3 hidden md:block">
        <img
          class="h-72 rounded-xl grayscale hover:grayscale-0 hover:scale-105 transition-all duration-700"
          src="profilePic.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- experience section -->
  <div class="md:mt-52 mt-28 px-8">
    <h1 class="font-semibold mb-8  md:text-4xl sm:text-3xl text-2xl">Where I've Worked</h1>
    <mat-tab-group>
      <mat-tab label="Seeroo">
        <div class="mt-8 lg:h-60 h-80">
          <h1 class="text-xl font-semibold">
            Software Developer
            <span class="hover:underline cursor-pointer">&commat; Seeroo</span>
          </h1>
          <p class="font-mono text-sm font-semibold">January 2025 - Present</p>
          <p class="mt-4">
            Worked with the Web team, contributing to both client and
            server-side development. Built, developed, and maintained
            large-scale applications while working on production-level code.
            Currently continuing my journey at Seeroo IT Solutions, gaining
            hands-on experience in full-stack development.
          </p>
          <div class="flex flex-wrap mt-4 gap-4">
            <a
              class="text-[#648adc] px-4 py-1 bg-[#648adc] bg-opacity-15 rounded-lg text-sm"
              >Angular</a
            >
            <a
              class="text-[#648adc] px-4 py-1 bg-[#648adc] bg-opacity-15 rounded-lg text-sm"
              >Nest.js</a
            >
            <a
              class="text-[#648adc] px-4 py-1 bg-[#648adc] bg-opacity-15 rounded-lg text-sm"
              >PostgreSQL</a
            >
            <a
              class="text-[#648adc] px-4 py-1 bg-[#648adc] bg-opacity-15 rounded-lg text-sm"
              >Node.js</a
            >
            <a
              class="text-[#648adc] px-4 py-1 bg-[#648adc] bg-opacity-15 rounded-lg text-sm"
              >Git</a
            >
            <a
              class="text-[#648adc] px-4 py-1 bg-[#648adc] bg-opacity-15 rounded-lg text-sm"
              >React</a
            >
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Edure">
        <div class="mt-8 lg:h-60 h-80">
          <h1 class="text-xl font-semibold">
            Full Stack Intern
            <span class="hover:underline cursor-pointer">&commat; Edure</span>
          </h1>
          <p class="font-mono text-sm font-semibold">July - December 2024</p>
          <p class="mt-4">
            Developed and maintained large-scale applications, building a strong
            foundation in full-stack development and gaining deep expertise in
            web development. Additionally, worked on freelance projects for
            various clients during this period.
          </p>
          <div class="flex flex-wrap mt-4 gap-4">
            <a
              class="text-[#648adc] px-4 py-1 bg-[#648adc] bg-opacity-15 rounded-lg text-sm"
              >Angular</a
            >
            <a
              class="text-[#648adc] px-4 py-1 bg-[#648adc] bg-opacity-15 rounded-lg text-sm"
              >Node.js</a
            >
            <a
              class="text-[#648adc] px-4 py-1 bg-[#648adc] bg-opacity-15 rounded-lg text-sm"
              >Express.js</a
            >
            <a
              class="text-[#648adc] px-4 py-1 bg-[#648adc] bg-opacity-15 rounded-lg text-sm"
              >MongoDB</a
            >
            <a
              class="text-[#648adc] px-4 py-1 bg-[#648adc] bg-opacity-15 rounded-lg text-sm"
              >Firebase</a
            >
            <a
              class="text-[#648adc] px-4 py-1 bg-[#648adc] bg-opacity-15 rounded-lg text-sm"
              >Git</a
            >
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!-- works section -->
  <div class="md:mt-40 mt-10 px-8">
    <h1 class="font-semibold mb-8 text-4xl">Some Things I've Built</h1>
    
  </div>
</main>
