<nav class="h-20 rounded-2xl flex gap-12 justify-center items-center uppercase m-8">
    <a class="cursor-pointer text-slate-400 hover:text-slate-900 transition-all duration-300">About</a>
    <a class="cursor-pointer text-slate-400 hover:text-slate-900 transition-all duration-300">Works</a>
    <h1 class="logo text-5xl font-semibold hover:-translate-y-1 transition-all duration-300 cursor-pointer">HR</h1>
    <a class="cursor-pointer text-slate-400 hover:text-slate-900 transition-all duration-300">Contact</a>
    <a class="cursor-pointer text-slate-400 hover:text-slate-900 transition-all duration-300">CV</a>
</nav>