/* Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap');

/* Tailwind Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
* {
    font-family: "Poppins", serif;
}

html,
body {
    height: 100%;
    background-color: #11181c;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fffde9;
}

span,
i:hover,
a:hover {
    color: #648adc;
}

p,
i,
a {
    color: #606060;
}

button {
    border: #648adc solid 2px;
    color: #fffde9;
}

.logo {
    font-family: "Shadows Into Light";
}

.hide-navbar {
    transform: translateY(-100%);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
